.relative1 {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: black;
}

.relative1 img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.relative1 .clipPath {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 1.2s ease, opacity 1s ease;
}
