nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: rgb(255, 255, 255);
  position: sticky;
  top: 0;
  padding: 0 1rem;
  z-index: 10;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
    overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  position: relative;
  overflow: hidden;
  font-size: large;
  font-weight: bold;
}
.home:hover{
  color: rgb(202, 52, 53);
}
nav ul li a:not(.active):hover {
  color: rgb(202, 52, 53);
}

nav ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 200%;
  height: 100%;
  transform: skewX(-20deg);
  transition: left 0.5s;
}

nav ul li a:hover::before {
  left: 100%;
}

nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: rgb(202, 52, 53);
  border-radius: 0.2rem;
}

@media (max-width: 768px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
    overflow: hidden;
    transition:  0.5s ease-in-out;
  }

  nav ul.open {
    display: flex;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
    padding: 0.75rem;
  }
}