.card {
  position: relative;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px;
  box-sizing: border-box;
}

.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
}

.card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0,0,0,.2);
}

.imgBx {
  transition: 0.5s;
}

.card:hover .imgBx {
  bottom: 80px;
}

.card .details h2 {
  color: #ffffff;
  transition: color 0.3s ease;
}

.card:hover .details h2 {
  color: #4a4a4a;
}

.organisers-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

@media (max-width: 1050px) {
  .organisers-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 770px) {
  .organisers-container {
    grid-template-columns: 1fr;
  }
  
  .card {
    width: 100%; 
  }
}
