@import url("https://fonts.googleapis.com/css2?family=poppin:wght@400;500&display=swap");

body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #15171A;
  overflow-x: hidden;
}


.arhn-c-img{
  height: 100%;
  width: 100%;
  /* border: 50px; */
  object-fit: center;
  /* filter: brightness(0.6); */
}


.about-arhn-heading{
  color: #ff0000;
  font-size: 30px;
line-height: 62px;

}

p{
  line-height: 27px;
  font-family: poppin, sans-serif;
  color: #9ca9b3;
  letter-spacing: -0.1px;
  
}

/* Event arhn-card */


.arhn-card {
  position: relative;
  /* width: 400px; */
  /* height: 450px; */
  /* background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%); */
  border-radius: 10px;
  border:1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.arhn-card img {
  width: 100%;
  object-fit:cover;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.arhn-card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.arhn-card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  padding-top: 40px;
  box-sizing: border-box;
  background-color: #15171A;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.arhn-card:hover .arhn-card-content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}


.arhn-card-description {
  margin: 20px 0 0;
  font-size: 18px;
  color: #777;
  line-height: 1.4;
}



/* AAROHAN GALLERY */

.arhn-slider{
  height: 400px;
  margin: 50px auto;
  position: relative;
  width: 90%;
  display: flex;
  place-items: center;
  overflow: hidden;
  
}

.arhn-slide-track{
  display: flex;
  /* width: calc(250px * 30); */
  animation: scroll 30s linear infinite;
}
.arhn-slider:hover .arhn-slide-track{
  animation-play-state: paused;
}

@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(calc(-100%));
  }
}

.arhn-single-slide{
  /* height: 200px; */
  /* width: 400px; */
  display: flex;
  align-items: center;
  padding: 15px;
  perspective: 100px;
  border-radius: 10px;
}

.arhn-single-slide img{
  width: 100%;
  transition: transform 1s;
  border-radius: 10px;
}
.arhn-single-slide img:hover{
  transform: translateZ(20px);
  
}

.arhn-slider::before,
.arhn-slider::after{
  background: linear-gradient(to right, #15171A 0%, rgba(255,255,255,0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.arhn-slider::before{
  left: 0;
  top: 0;
}

.arhn-slider::after{
  right: 0;
  top: 0;
  transform: rotate(180deg);
}


/* AAROHAN ORAGNIZER */


.arhn-rotate,.arhn_org_card,.arhn_org_card img
 {
  height: 300px;
  width: 250px;
  box-shadow: #000407;
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d;
  border-radius: 2rem;
}

.arhn-rotate:hover{
  cursor: pointer;
  transform: rotateY(180deg) rotateZ(180deg);
}

.arhn-front,
.arhn-back {
  height: 300px;
  width: 250px;
  border-radius: 2rem;
  position: absolute;
  box-shadow: #000407;
  backface-visibility: hidden;
  
  background: #000407;
}

.arhn-front,
.arhn-back {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.arhn-back {
  transform: rotateY(180deg) rotateZ(180deg);
}

.arhn-back-heading
 {
  font-size: 28px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
}




