body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
  background-color: rgb(21, 23, 26);
  overflow-x: hidden; /* Prevent horizontal overflow */
  min-height: 100vh; /* Ensure body covers full viewport height */
  max-width: 100%;
}

img {
  max-width: 100%;
  height: auto; /* Ensure images are responsive and don't overflow */
}


/* Initial state for sliding from left */
.slide-in-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

/* Initial state for sliding from right */
.slide-in-right {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 1.5s ease-out, opacity 1.5s ease-out;
}

/* Active state for both */
.slide-in-left.active,
.slide-in-right.active {
  opacity: 1;
  transform: translateX(0);
}

